.App {
  text-align: center;
}


.App .thumnail {
  text-decoration: none;
  color: black;
}

.App .title {
  font-size: 18px;
  margin-top: 10px;
  font-weight: 600;
}

.App .desc {
  font-size: 14px;
}

.App .price {
  color: brown;
  font-size: 18px;
}

.visual_main {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 35px;
}